.detail-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    .header-container {
        margin: 0;
    }

    .sider-left {
        width: 300px;
        flex: none;
        height: 100%;
        overflow: auto;
    }

    .main-container {
        height: 100%;
        overflow: auto;
    }

    code {
        max-width: 1000px;
        white-space: break-spaces;
    }

    .main-content {

    }

    .main-content-header {
        padding: 0 24px;
    }

    .vditor-copy {
        display: none;
    }

    .article {
        display: flex;
        flex-direction: row;
    }

    #articleContent {
        padding: 24px;
    }

    .card-wrap-img {
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e6e8ed;
        margin-right: 30px;

        img {
            width: 90%;
            height: auto;
        }
    }

    .card-wrap-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #jumpBtn {
        cursor: pointer;
        text-align: left;
        line-height: 32px;
        padding: 5px 20px;
        background-color: #e6e8ed;
        border-radius: 4px;
        align-items: center;
        display: flex;
        flex-direction: row;

        svg {
            margin-left: 10px;
        }

        &:hover {
            color: white;
            background-color: #333;
            svg {
                transform: translateX(10px);
                transition: all .3s;
            }
        }
    }
}