.detail-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.detail-container .header-container {
  margin: 0;
}
.detail-container .sider-left {
  width: 300px;
  flex: none;
  height: 100%;
  overflow: auto;
}
.detail-container .main-container {
  height: 100%;
  overflow: auto;
}
.detail-container code {
  max-width: 1000px;
  white-space: break-spaces;
}
.detail-container .main-content-header {
  padding: 0 24px;
}
.detail-container .vditor-copy {
  display: none;
}
.detail-container .article {
  display: flex;
  flex-direction: row;
}
.detail-container #articleContent {
  padding: 24px;
}
.detail-container .card-wrap-img {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e8ed;
  margin-right: 30px;
}
.detail-container .card-wrap-img img {
  width: 90%;
  height: auto;
}
.detail-container .card-wrap-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.detail-container #jumpBtn {
  cursor: pointer;
  text-align: left;
  line-height: 32px;
  padding: 5px 20px;
  background-color: #e6e8ed;
  border-radius: 4px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.detail-container #jumpBtn svg {
  margin-left: 10px;
}
.detail-container #jumpBtn:hover {
  color: white;
  background-color: #333;
}
.detail-container #jumpBtn:hover svg {
  transform: translateX(10px);
  transition: all 0.3s;
}