.home-container {
  width: 100%;
}
.home-container .card .card-content {
  padding: 1rem;
}
.home-container .article-list .module-cards-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home-container .article-list .module-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
}
.home-container .article-list .module-title img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 20px;
}
.home-container .article-list .module-title span {
  line-height: 40px;
}
.home-container .article-list .card-wrap:hover {
  background-color: aquamarine;
  transform: scale(1.1);
  transition: all 0.3s;
}